<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp  from="paynekaren@comcast.net">
        <network host="smtp.comcast.net" port="587"  userName="kevininstructor" password="DoorGoal7"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Dotnet_Development\VS2013\MSDN_SMTP_Configuration\WindowsFormsApplication1\bin\Debug\EmailPickupFolder" />
      </smtp>
    </mailSettings>
  </system.net>
  <userSettings>
    <WindowsFormsApplication1.Properties.Settings>
      <setting name="DemoHtmlMessage" serializeAs="String">
        <value>&lt;html&gt;&lt;body&gt;&lt;left&gt;&lt;table border='1' cellpadding='0' cellspacing='0'&gt; 
&lt;tr&gt; 
&lt;td align='left' valign='middle'&gt;Reference&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;Exporter&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;EPU&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;Entry&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;Date&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;MRN&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;Vehicle&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;Pkgs&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;Gross&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;Route&lt;/td&gt; 
&lt;tr&gt; 
&lt;tr&gt; 
&lt;td align='left' valign='middle'&gt;DE124315A&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;EUROPRIDE LTD&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;011&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;A02582W&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;15/03/16 00:00:00&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;16GB03X57775707030&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;AB84GYR / AB62GIR&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;3378.500&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;6&lt;/td&gt; 
&lt;/tr&gt; 
&lt;tr&gt; 
&lt;td align='left' valign='middle'&gt;DE124315B&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;EUROPRIDE LTD&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;011&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;A02585F&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;15/03/16 00:00:00&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;16GB03X57775961017&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;AB84GYR / AB62GIR&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;2970.000&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;6&lt;/td&gt; 
&lt;/tr&gt; 
&lt;tr&gt; 
&lt;td align='left' valign='middle'&gt;DE124315C&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;EUROPRIDE LTD&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;011&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;A02587V&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;15/03/16 00:00:00&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;16GB03X57776136010&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;AB84GYR / AB62GIR&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;5080.250&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;6&lt;/td&gt; 
&lt;/tr&gt; 
&lt;tr&gt; 
&lt;td align='left' valign='middle'&gt;DE124315D&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;EUROPRIDE LTD&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;011&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;A02590B&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;15/03/16 00:00:00&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;16GB03X57776358011&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;AB84GYR / AB62GIR&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;3415.000&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;6&lt;/td&gt; 
&lt;/tr&gt; 
&lt;tr&gt; 
&lt;td align='left' valign='middle'&gt;DE124315E&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;OLD DOVER TEXTILES LTD&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;011&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;A02593J&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;15/03/16 00:00:00&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;16GB03X57776630011&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;AB84GYR / AB62GIR&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;1241.500&lt;/td&gt; 
&lt;td align='left' valign='middle'&gt;6&lt;/td&gt; 
&lt;/tr&gt; 
&lt;/table&gt;&lt;/left&gt;&lt;/body&gt;&lt;/html&gt; 
</value>
      </setting>
    </WindowsFormsApplication1.Properties.Settings>
  </userSettings>
</configuration>


