<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp  from="Someone@comcast.net">
        <network host="smtp.comcast.net" port="587"  userName="someone" password="password" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>  
</configuration>